/* src/styles/element.css */
:host {
  box-sizing: border-box;
}
:host *,
:host *::before,
:host *::after {
  box-sizing: inherit;
}
.hidden,
[hidden] {
  display: none !important;
}
.rtl {
  direction: rtl;
}
.title {
  line-height: 1.45;
  color: #7a2518;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.25em;
}

/* src/elements/base/base.css?inline */
:host {
  display: block;
}

/* src/elements/clock/clock.css */
:host {
  display: inline-block;
}
.time.clock__time {
  margin: 0 var(--sl-spacing-large);
}
sl-dropdown:not(.control)::part(panel) {
  padding: var(--sl-spacing-small);
  background: var(--sl-panel-background-color);
  border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
}
