/* src/styles/element.css */
:host {
  box-sizing: border-box;
}
:host *,
:host *::before,
:host *::after {
  box-sizing: inherit;
}
.hidden,
[hidden] {
  display: none !important;
}
.rtl {
  direction: rtl;
}
.title {
  line-height: 1.45;
  color: #7a2518;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.25em;
}

/* src/elements/base/base.css?inline */
:host {
  display: block;
}

/* src/elements/clock/clock.css */
:host {
  display: inline-block;
}
.time.clock__time {
  margin: 0 var(--sl-spacing-large);
}
sl-dropdown:not(.control)::part(panel) {
  padding: var(--sl-spacing-small);
  background: var(--sl-panel-background-color);
  border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
}

/* src/elements/color/color.css?inline */
:host {
  display: inline-block;
}
.primary-color__colors {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: var(--sl-spacing-small);
  justify-items: center;
  z-index: var(--sl-z-index-dropdown);
  border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
  background: var(--sl-panel-background-color);
  padding: var(--sl-spacing-x-small);
}
.primary-color__ranges {
  background: var(--sl-panel-background-color);
  z-index: var(--sl-z-index-dropdown);
}
sl-range {
  --thumb-size: var(--sl-spacing-small);
  --tooltip-offset: calc(-1*var(--sl-spacing-small));
  --track-color-active: var(--color-primary);
  --track-color-inactive: var(--sl-color-primary-200);
  --track-height: var(--sl-spacing-3x-small);
}
sl-range::part(base) {
  padding: var(--sl-spacing-small);
  padding-top: var(--sl-spacing-x-large);
}
sl-range::part(tooltip) {
  left: var(--sl-spacing-small);
}

/* src/elements/theme/theme.css?inline */
:host {
  display: inline-block;
}
kbd {
  font-family: var(--sl-font-mono);
  background-color: var(--sl-color-neutral-50);
  border-radius: var(--sl-border-radius-small);
  border: 1px solid var(--sl-color-neutral-200);
  box-shadow: inset 0 1px 0 var(--color-white);
  padding: var(--sl-spacing-3x-small) var(--sl-spacing-2x-small);
}

/* src/elements/tools/tools.css?inline */
:host {
  display: inline-block;
}
.tools {
  display: inline-flex;
}
.tools__container {
  display: inline-flex;
  justify-content: flex-end;
}
