/* src/styles/element.css */
:host {
  box-sizing: border-box;
}
:host *,
:host *::before,
:host *::after {
  box-sizing: inherit;
}
.hidden,
[hidden] {
  display: none !important;
}
.rtl {
  direction: rtl;
}
.title {
  line-height: 1.45;
  color: #7a2518;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.25em;
}

/* src/elements/base/base.css?inline */
:host {
  display: block;
}

/* src/elements/toggle/toggle.css?inline */
:host {
  display: inline-block;
}
